@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

body{
    background-color: rgb(47, 87, 97);
    font-family: 'Nunito Sans', sans-serif;
}

h3{
    color: white;
    font-size: x-large;
}

strong{
    color: white;
    font-size: x-large;
}

a{
    display: flex;
    justify-content: center;    
    align-items: center;  
    margin: 5vh auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    width: 5%;
}

a:hover{
    color: rgb(0, 255, 170);
}